@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* body {
  background-color: red;
} */

.debug {
  outline: 1px dotted red;
}

body {
  font-family: Montserrat;
  background-color: #fffffa;
}

header {
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #b8b973;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background-color: rgb(172, 204, 172);
  text-decoration: none;
}

section {
  padding: 20px;
}

.inicial-image {
  background-image: url(../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
  background-size: cover;
  height: 490px;
  width: 100%;
  color: white;
  padding-top: 200px;
}

.inicial-text {
  color: white;
  text-align: center;
  margin-top: 0px;
  font-size: 40px;
}

h2,
h3 {
  font-weight: bold;
}

.container-section {
  padding: 18px 40px 0px 40px;
  height: 50px;
  text-align: center;
}

.about-us {
  background-color: #b4b6b32c;
  padding: 40px;
  text-align: center;
}

.container {
  margin: 0px auto;
  padding: 75px 0px;
}

#general-information {
  display: flex;
  color: rgb(83, 80, 80);
}

#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

@media screen and (max-width: 576px) {
  h1 {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
    z-index: 10;
  }

  .menu_bar .btn-menu {
    display: block;
    padding: 20px;
    background: #b8b973;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 1rem;
  }

  #general-information {
    width: 100%;
    flex-direction: column;
    color: rgb(83, 80, 80);
  }

  #general-information .container {
    width: 240px;
    padding: 22px;
  }
}

.foot-design {
  background-color: #b8b973;
  color: white;
  height: 180px;
  padding: 40px;
  font-size: 22px;
  text-align: center;
}


/* SIGN IN STYLE */

body {
  font-family: Montserrat;
  background-color: #fffffa;
}

header {
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #b8b973;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background-color: rgb(172, 204, 172);
  text-decoration: none;
}

section {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
    z-index: 10;
  }

  .menu_bar .btn-menu {
    display: block;
    padding: 20px;
    background: #b8b973;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 1rem;
  }
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #b8b973;
  padding: 30px;
  margin: auto;
  margin-top: 60px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-shadow: 7px 13px 37px grey;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a2b290;
  font-size: 14px;
  color: rgb(131, 125, 125);
}

.form-register p {
  height: 40px;
  text-align: center;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botton {
  width: 100%;
  background: rgb(131, 125, 125);
  border: none;
  padding: 10px;
  margin-top: 1em;
  color: white;
  font-size: 14px;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #a2b290;
}

footer {
  margin-top: 50px;
}

/* LOGIN */

h4 {
  color: grey;
  margin-top: 10px;;
}

@media screen and (max-width: 768px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
    z-index: 10;
  }

  .menu_bar .btn-menu {
    display: block;
    padding: 20px;
    background: #b8b973;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 1rem;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #rgb(131, 125, 125);
  padding: 30px;
  margin: auto;
  margin-top: 60px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-shadow: 7px 13px 37px grey;
}

.form-login h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #b8b973;
  font-size: 14px;
  color: rgb(131, 125, 125);
}

.form-login p {
  height: 40px;
  text-align: center;
}

.form-login a {
  color: grey;
  text-decoration: none;
}

.form-login a:hover {
  color: grey;
  text-decoration: underline;
}

.form-login .botton {
  width: 100%;
  background: rgb(172, 169, 169);
  border: none;
  padding: 10px;
  margin-top: 1em;
  color: white;
  font-size: 14px;
  margin-bottom: 1em;
  border-radius: 4px;
  /* border: 1px solid #a2b290; */
}

.register {
  padding: 0px;
  margin: 0px;
  color: grey;
  font-size: 1em;
}

.register a {
  color: grey;
}

/* FAQ STYLE IS HERE!!!!!!!!!!!!!!!!!!!*/

body {
  font-family: Montserrat;
  background-color: #fffffa;
}

header {
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #b8b973;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background-color: rgb(172, 204, 172);
  text-decoration: none;
}

section {
  padding: 20px;
}

.inicial-faq-image {
  background-image: url(images/katka-pavlickova-_v1wbPxLTT8-unsplash.jpg);
  background-size: cover;
  height: 490px;
  width: 100%;
  color: white;
  padding-top: 200px;
}

h2,
h3 {
  font-weight: bold;
}

.faq-section h2 {
  padding: 18px 40px 0px 40px;
  height: 50px;
  text-align: center;
  color: rgb(83, 80, 80);
}

#faq-section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#faq-section3 .contain {
  width: 370px;
  text-align: center;
}

.faq-answers {
  background-color: #a2b290;
  padding: 30px;
  margin: 30px;
  color: white;
}

@media screen and (max-width: 576px) {
  #faq-section3 {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
    z-index: 10;
  }

  .menu_bar .btn-menu {
    display: block;
    padding: 20px;
    background: #b8b973;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 1rem;
  }

  #faq-section3 {
    flex-direction: column;
  }
}

/* DASHBOARD STYLE IS HEREEEEE */

.ingredient-text {
  padding-top: 170px;
  text-align: center;
}





.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients-list article {
  background-color: #b8b973;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 20px;
  margin-top: 5%;
  border-radius: 2%;
  font-size: 4rem;
  text-align: center;
  color: white;
  box-shadow: 7px 13px 37px grey;
}

.ingredients-list img {
  /* border-radius: 6%; */
  width: 90px;
  height: 90px;
  padding: 5px;
  opacity: 0.9;
  filter: alpha(opacity=100);
}

.ingredients-list p {
  font-size: 0.9rem;
}

.ingredients-list h3 {
  align-items: center;
  font-weight: bold;
}

.dashboard-image {
  background-image: url(../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
  background-size: cover;
  height: 490px;
  width: 100%;
  color: white;
  padding-top: 200px;
}

.search-nav {
  width: 80%;
  background-color:rgb(173, 170, 170);
  border-radius: 2%;
  padding: 5px;
margin: auto;
margin-top: 50px;
}

.search {
  width: 80%;
  border-color: rgb(173, 170, 170);
}

input[type="search"]{
  border: none;
  align-items: center;
  border-radius: 2%;
}

@media (min-width: 576px) {
  .ingredients-list article {
    /* font-size: 4rem;
    min-height: 260px;
    align-items: center;
    justify-content: center; */
  }

  .ingredients-list h3 {
  font-size: 1rem;
  }

  .ingredients-list {
    /* border: 2px solid rgb(175, 175, 174); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
